<div class="card float-left" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ title|safe }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ subtitle|safe }}</h6>
    <p class="card-text">{{ text|safe }}</p>
    {% for link in links %}
        <a href="{{ link.url }}" class="card-link">{{ link.text }}</a>
    {% endfor %}
  </div>
</div>