{% extends "base.html.jinja2" %}

{% block content %}
    <div>
        <table class="table">
            <tr>
                <td>
                    <div id="gene_variant" class="d-flex justify-content-center h2">  
                        <div class="spinner-border spinner-border-sm text-primary" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="transcript_variant" class="d-flex justify-content-center h2">  
                        <div class="spinner-border spinner-border-sm text-primary" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="cdot_variant" class="d-flex justify-content-center h2">  
                        <div class="spinner-border spinner-border-sm text-primary" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="pdot_variant" class="d-flex justify-content-center h2">  
                        <div class="spinner-border spinner-border-sm text-primary" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for source in sources %}
            <div class="col" id="{{ source.__name__ }}_div">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">{{ source.__name__ }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Loading...</h6>
                        <div class="d-flex justify-content-center" data-source-loading="true">
                            <div class="spinner-border text-primary" role="status">
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <input type="hidden" id="ws_url" value="{{ websocket_url }}" />
{% endblock %}
{% block js_import %}
    <script src="{{ url_for('static', path='/molclass.js') }}"></script> 
{% endblock %}