uvicorn[standard]==0.35.0
fastapi[standard]==0.116.1
Jinja2==3.1.6
aiohttp==3.10.11
aiofiles==24.1.0
requests[security]==2.32.4
beautifulsoup4==4.13.4
lxml==6.0.0
Scrapy==2.13.3
mypy
pyyaml
lxml-stubs
types-beautifulsoup4
types-PyYAML
types-aiofiles
types-requests
pydantic-settings==2.10.1
charset-normalizer
icecream==2.1.5
