fastapi==0.121.1
uvicorn[standard]==0.38.0
jinja2==3.1.6
aiohttp==3.13.3
aiofiles==24.1.0
requests==2.32.5
beautifulsoup4==4.14.3
lxml==6.0.2
scrapy==2.14.1
pydantic-settings==2.10.1
sqlmodel==0.0.31
charset-normalizer==3.4.4
httpx==0.28.1
icecream==2.1.5
mypy
pyyaml
lxml-stubs
types-beautifulsoup4
types-PyYAML
types-aiofiles
types-requests
